table {
  border-collapse: collapse;
  margin: 0 auto;
}

table tbody {
  border-top: 15px solid white;
  width: 100%;
}

table tbody:nth-child(even) {
  background-color: #f2f2f2;
}

td, th {
  text-align: left;
  padding: 5px;
}

tr.won td.name {
  font-weight: bold;
}

#form-query {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#form-query .form-item {
  margin-top: 8px;
  margin-bottom: 8px;
}

#form-query .form-item label {
  display: inline-block;
  width: 5em;
}

#form-query input {
  width: 4em;
}
